/* * {
  font-family: 'Poppins';
} */
body {
  font-family: 'Poppins';
}
/* when next and preview button is hover */
img.client1:hover {
  transform: scale(1.08);
}


.navbar-nav>li {
  padding-right: 30px;
}

/* .navbar-nav>li:hover {
  padding-right: 30px;
  padding-left: 8px;
} */

.navbar-light .navbar-nav .nav-link {
  color: #12062E;
  font-weight: 600;
transition: all 0.3s ease; 
}
.navbar-light .navbar-nav .nav-link:hover {
  color:#63D24B;
  padding-right: 8px;
}

.bg-light {
  background-color: #ffffff !important;
}

.bg-dark {
  background-color: #ffffff !important;
}

#title {
  color: #12062E;
  font-size: 3rem;
  padding-top: 5rem;
  font-family: 'Poppins';
  font-weight: 600;
  /* semibold */
}

.description {
  color: #12062E;
  font-size: 1.5rem;
  font-weight: 550;
  /* medium */
}

.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

img.float-start {
  margin-left: -12rem;
}



/* to make the carousel button dotted green */
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  /* change width */
  height: 10px;
  /* change height */
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #7DDB29;
  /* #7DDB29 */
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 100%;
  /* add border-radius */
}


/* About Us section */
.company,
.different {
  font-size: 24px;
  font-weight: bold;
}

.founded,
.affordability {
  font-size: 20px;
  color: #6A6A8E;
  line-height: 38px;
  font-weight: 400;
}

img.about-us-plus-icons {
  margin-left: -12rem;
}

img.about-us-arrow {
  margin-left: -7rem;
  margin-top: -10rem;
}

.years {
  font-size: 32px;
  font-weight: bold;
  color: #12062E;
}

.displayNumber {
  font-size: 128px;
  font-weight: bold;
  color: #7DDB29;
}

.numberPlus {
  font-size: 64px;
  font-weight: bold;
  color: #7DDB29;
}

.plusPosition {
  left: 17% !important;
}

.manyPlus {
  bottom: -5rem;
}
.about-us-section-arrow:hover{
  transition: all 0.3s ease; 
}
.about-us-section-arrow:hover{
  padding-left: 30px;
}

/* Services section */
.services-arrow{
  top: 9rem;
}
.we-are-here{
  font-size: 40px;
  color:#7DDB29;
  line-height: 110%;
  font-weight: bold;
  padding-left: 5rem;
}
.services-many-plus {
  top: 3rem;
  left: 40%!important;
  z-index: -1;
}
.services-images{
  background-color: #12062E;
  height: 52rem;
  z-index: -1;
}
.services-card{
  border-color: white;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 .2rem 2rem rgba(0,0,0,.15)!important;
  z-index: 1;
} 
/* .services-card:hover{
  transform:scale(1.05);  
} */
.card-webdev{
  font-size: 32px;
  color: #12062E;
  font-weight: bold;
}
.card-webdev-sum{
color: #6A6A8E;
font-size: 20px;
line-height: 150.5%;
}
.services-gradient-green{
  bottom: 0rem;
}
.services-card-position{
  left: 5rem;
  top: -30rem;
}
.services-card-title-position{
  left: 0rem;
  top: -38rem;
}
.services-circle-green{
  z-index:-2;
  left: 43%;
}
.services-slider-img1{
  margin-top: 5rem;
}
/* .services-slider-img2{
  z-index: -1;
} */
.services-img-2{
  left: 50%;
  top: -10rem;
}
.services-section-arrow:hover{
  transition: all 0.3s ease; 
}
.services-section-arrow:hover{
  padding-left: 30px;
}

/* Workflow section */
#workflow{
  height: 1242;
}
section#workflow {
  margin-bottom: 3rem;
}
.workflow-arrow{
  left: -3rem;
}
.workflow-desc {
  margin-top: 7rem;
}
.workflow-desc > h2{
  font-size: 48px;
  color: #7DDB29;
  font-weight: bold;
}
.workflow-desc > p{
  font-size: 20px;
  color: #6A6A8E;
  font-weight: normal;
  padding-top: 12px;
  padding-bottom: 54px;
}
/* Cards */
.row > div> .card.h-100 {
  border-radius: 30px;
  background-color: #F2F4FA;
  border-color: #fff;
  padding: 35px 20px 55px 20px;
  margin: 1px 5px;
  /* box-shadow: .5px .5px .1px rgba(242,244,250)!important; */
}
.row > div> img.card-img-top {
  padding-left: 20px;
}
div> div>img.card-img-top {
  padding-left: 1rem;
}
.row > div> div> p.card-text {
  color: #12062E;
  font-size: 16px;
  font-weight: 500;
}
div> div> div> div> h5.card-title {
  font-size: 24px;
  font-weight: 600;
  padding: 7px 0px;
  color: #12062E;
}
.workflow-section-arrow:hover{
  transition: all 0.3s ease; 
}
.workflow-section-arrow:hover{
  padding-left: 30px;
}

/* Clients Feedback section */
#review{
  height: 1242;
}
section#review {
  margin-bottom: 3rem;
}
.feedback-arrow{
  left: -3rem;
}
.review-desc {
  margin-top: 7rem;
}
.review-desc > h2.text-center{
  font-size: 48px;
  color: #7DDB29;
  font-weight: bold;
}
.review-desc > p{
  font-size: 20px;
  color: #6A6A8E;
  font-weight: normal;
  padding-top: 12px;
}

.review-many-plus {
  margin-right: -2rem;
  margin-top: -3rem;
}
.review-manyplus{
  bottom: -6rem;
  z-index: -1;
}
section.clients {
  margin-bottom: 2rem;
}

button.to-the-left.carousel-control-prev {
  /* top: -293px; */
  left: -7rem;
  right: auto;
  margin: auto;
  opacity: 1;
}
button.to-the-right.carousel-control-next {
  /* top: -293px; */
  right: -7rem;
  left: auto;
  margin: auto;
  opacity: 1;
}
@media only screen and (min-width: 1440px) {
.clients-container{
  max-width: 1150px;
}
}
.feedback-section-arrow{
  transition: all 0.3s ease; 
}
.feedback-section-arrow:hover{
  padding-left: 30px;
}

/* Trusted Brands */
.brands-desc{
  padding: 67px 0px;
}
.brands-desc > h2 {
  font-size: 48px;
  color: #7DDB29;
  font-weight: bold;
}

.brand-container{
  max-width: 1100px;
}


button.brand-to-the-left.carousel-control-prev {
  /* top: -293px; */
  left: -8.5rem;
  right: auto;
  margin: auto;
  opacity: 1;
}
button.brand-to-the-right.carousel-control-next {
  /* top: -293px; */
  right: -8.5rem;
  left: auto;
  margin: auto;
  opacity: 1;
}

/* Our Team section */
.our-team-arrow{
  left: -3rem;
}
.team-desc {
  margin-top: 4rem;
}
.team-desc > h2{
  font-size: 48px;
  color: #7DDB29;
  font-weight: bold;
}
.team-desc > p{
  font-size: 20px;
  color: #6A6A8E;
  font-weight: normal;
  padding-top: 12px;
}
.team-section-arrow{
  transition: all 0.3s ease; 
}
.team-section-arrow:hover{
  padding-left: 30px;
}

/* Carousel team */
.genius-slide{
  margin-top: 6rem!important;
}
/* @media (min-width: 768px) {
  .genius-team {
    display: flex;
    padding: 1em;
  }
  .genius-team-carousel {
    margin-right: 0;
    flex: 0 0 33.3333333333%;
    display: block;
  }
} */

.genius-team {
  padding: 1em 7rem;
}

.genius-team-card{
    margin: 0 2.5em;

    border: none;
}
.genius-team-prev, .genius-team-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
img.img-fluid.rounded-circle {

  background: radial-gradient(circle, transparent 40%,#7DDB29 40%);
}
p.card-text.text-center {
  font-size: 20px;
  color: #A7A7A7;
}
.genius-name-job {
  flex: 1 1 auto;
  padding: 2.56rem 1rem;
}

button.genius-team-to-the-left.carousel-control-prev {

  left: -4.5rem;
  right: auto;
  margin: auto;
  opacity: 1;
}
button.genius-team-to-the-right.carousel-control-next {

  right: -4.5rem;
  left: auto;
  margin: auto;
  opacity: 1;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
/* @media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
} */
  
img.img-fluid.rounded-circle:hover{
  background: radial-gradient(circle, transparent 40%,#12062E 40%);
}
div> div> div> div> h5.card-title:hover {
  font-size: 24px;
  font-weight: 600;
  padding: 7px 0px;
  color: #7DDB29;
}

/* Schedule a consultaion section */

.l1OPEn8aZraak2sTOrbZ.Iji9Uvqm6IyoZcOtebAT {
  background-color: var(--primary-color-level4,rgba(0,105,255,0.065));
  color: #7DDB29;
  font-weight: 700;
}

.schedule-call{
  padding: 67px 0px;
}
.schedule-call> h2 {
  font-size: 48px;
  color: #12062E;
  font-weight: bold;
  line-height: 110%;
}
.schedule-call-many-plus {
  margin-right: -2.5rem;
  margin-top: -3rem;
}
.calendly-inline-widget.my-5 {
  position: absolute;
  top: 11rem;
  left: 0%;
}
.schedule-call-many-plus-bottom {
  left: -2rem!important;
  z-index: -1;
}

.schedule-container{
  max-width: 1100px;
}

/* Contact Us form section  */

.contact-us-form {
  margin-top: 8rem;
  background-image: repeating-linear-gradient(135deg,#63D24B 30%,#7DDB29 70%);
}
.contact-desc > h2{
  font-size: 48px;
  color: #fff;
  font-weight: bold;
}

form.row.g-3 {
  background: white;
  padding: 2.875rem;
  margin-bottom: 60px;
}
form > div > button.btn.btn-primary {
  background: #12062E;
  color: #7DDB29;
  height: 60px;
  font-size: 20px;
  width: 815px;
  border-radius: 6px;
}
form > div > button.btn.btn-primary {
  border-color: #12062E;
}
textarea#exampleFormControlTextarea1 {
  height: 137px;
}

.container.mt-5.container-contact-us {
  max-width: 58.75rem;
}
.form-contact {
  background: white;
  padding: 2.875rem;
  border-radius: 10px;
  margin-top: 20px;
}
input#fullName {
  width: 815px;
  height: 55px;
  font-size: 20px;
  padding-left: 31px;
  border-color: #DCDCDC;
}
input#email {
  width: 397px;
  height: 55px;
  font-size: 20px;
  padding-left: 31px;
  margin: 20px 0px;
  border-color: #DCDCDC;
}
input#phone {
  width: 397px;
  height: 55px;
  font-size: 20px;
  padding-left: 31px;
  margin: 20px 0px 20px 0px;
  border-color: #DCDCDC;
}
textarea#message {
  width: 815px;
  height: 137px;
  font-size: 20px;
  padding-left: 31px;
  border-color: #DCDCDC;
  margin: 20px 0px;
  resize: none;
}


/* Footer section */
footer{

}
.container-footer{
  margin: 0px;
  padding: 0px;
}
footer > span, h6, p, .footer-copyright{
  color: #12062E;
}
.footer-logo {
  padding-top: 10px;
}

.footer-address, .footer-quick-links, .footer-services, .footer-contact{
  font-size: 22px;
  color: #12062E;
  font-weight: 600;
  padding-bottom: 16px;
}
.footer-company-address, .footer-company-phone{
  font-size: 20px;
  color: #12062E;
}
.footer-links > p > a {
  font-size: 20px;
  color: #12062E;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer-links > p > a:hover{
  color: #63D24B;
  padding-left: 10px;
}
.footer-services-links p > a{
  font-size: 20px;
  color: #12062E;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer-services-links p > a:hover{
  color: #63D24B;
  padding-left: 10px;
}
p.footer-contact-social-icons > a > img {
  padding: 0px 3px;
  transition: all 0.3s ease;
}
p.footer-contact-social-icons > a > img:hover {
  color: #63D24B;
  padding-left: 8px;
}

.copyright{
  color: #6B7280;
  font-size: 20px;
  padding-bottom: 25px;
}