/* * {
  font-family: 'Poppins';
} */
body {
  font-family: 'Poppins';
}

navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #7DDB29;
}

.navbar-nav>li {
  padding-right: 30px;
  font-weight: 600;
  /* bold */
}

.navbar-light .navbar-nav .nav-link {
  color: #12062E;
}

.navbar-nav>li>a {
  padding-right: 24px;
}

.bg-light {
  background-color: #ffffff !important;
}

.bg-dark {
  background-color: #ffffff !important;
}

#title {
  color: #12062E;
  font-size: 3rem;
  padding-top: 5rem;
  font-family: 'Poppins';
  font-weight: 600;
  /* semibold */
}

.description {
  color: #12062E;
  font-size: 1.5rem;
  font-weight: 550;
  /* medium */
}

.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

img.float-start {
  margin-left: -12rem;
}



/* to make the carousel button dotted green */
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  /* change width */
  height: 10px;
  /* change height */
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #7DDB29;
  /* #7DDB29 */
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 100%;
  /* add border-radius */
}


/* About Us section */
.company,
.different {
  font-size: 24px;
  font-weight: bold;
}

.founded,
.affordability {
  font-size: 20px;
  color: #6A6A8E;
  line-height: 38px;
  font-weight: 400;
}

img.about-us-plus-icons {
  margin-left: -12rem;
}

img.about-us-arrow {
  margin-left: -7rem;
  margin-top: -10rem;
}

.years {
  font-size: 32px;
  font-weight: bold;
  color: #12062E;
}

.displayNumber {
  font-size: 128px;
  font-weight: bold;
  color: #7DDB29;
}

.numberPlus {
  font-size: 64px;
  font-weight: bold;
  color: #7DDB29;
}

.plusPosition {
  left: 17% !important;
}

.manyPlus {
  bottom: -5rem;
}

/* Services section */
.services-arrow{
  top: 9rem;
}
.we-are-here{
  font-size: 40px;
  color:#7DDB29;
  line-height: 110%;
  font-weight: bold;
  padding-left: 5rem;
}
.services-many-plus {
  top: 3rem;
  left: 40%!important;
  z-index: -1;
}
.services-images{
  background-color: #12062E;
  height: 52rem;
  z-index: -1;
}
.services-card{
  border-color: white;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 .2rem 2rem rgba(0,0,0,.15)!important;
  z-index: 1;
} 
.services-card:hover{
  transform:scale(1.05);  /* when mouse hover the card */
}
.card-webdev{
  font-size: 32px;
  color: #12062E;
  font-weight: bold;
}
.card-webdev-sum{
color: #6A6A8E;
font-size: 20px;
line-height: 150.5%;
}
.services-gradient-green{
  bottom: 0rem;
}
.services-card-position{
  left: 5rem;
  top: -30rem;
}
.services-card-title-position{
  left: 0rem;
  top: -38rem;
}
.services-circle-green{
  z-index:-2;
  left: 43%;
}
.services-slider-img1{
  margin-top: 5rem;
}
/* .services-slider-img2{
  z-index: -1;
} */
.services-img-2{
  left: 50%;
  top: -10rem;
}

/* Workflow section */
#workflow{
  height: 1242;
}
section#workflow {
  margin-bottom: 3rem;
}
.workflow-arrow{
  left: -3rem;
}
.workflow-desc {
  margin-top: 7rem;
}
.workflow-desc > h2{
  font-size: 48px;
  color: #7DDB29;
  font-weight: bold;
}
.workflow-desc > p{
  font-size: 20px;
  color: #6A6A8E;
  font-weight: normal;
  padding-top: 12px;
  padding-bottom: 54px;
}
/* Cards */
.row > div> .card.h-100 {
  border-radius: 30px;
  background-color: #F2F4FA;
  border-color: #fff;
  padding: 35px 20px 55px 20px;
  margin: 1px 5px;
  /* box-shadow: .5px .5px .1px rgba(242,244,250)!important; */
}
.row > div> img.card-img-top {
  padding-left: 20px;
}
div> div>img.card-img-top {
  padding-left: 1rem;
}
.row > div> div> p.card-text {
  color: #12062E;
  font-size: 16px;
  font-weight: 500;
}
div> div> div> div> h5.card-title {
  font-size: 24px;
  font-weight: 600;
  padding: 7px 0px;
  color: #12062E;
}

/* Clients Feedback section */
#review{
  height: 1242;
}
section#review {
  margin-bottom: 3rem;
}
.feedback-arrow{
  left: -3rem;
}
.review-desc {
  margin-top: 7rem;
}
.review-desc > h2{
  font-size: 48px;
  color: #7DDB29;
  font-weight: bold;
}
.review-desc > p{
  font-size: 20px;
  color: #6A6A8E;
  font-weight: normal;
  padding-top: 12px;
}

.review-many-plus {
  margin-right: -2rem;
  margin-top: -3rem;
}
.review-manyplus{
  bottom: -6rem;
  z-index: -1;
}
section.clients {
  margin-bottom: 2rem;
}

button.to-the-left.carousel-control-prev {
  /* top: -293px; */
  left: -7rem;
  right: auto;
  margin: auto;
  opacity: 1;
}
button.to-the-right.carousel-control-next {
  /* top: -293px; */
  right: -7rem;
  left: auto;
  margin: auto;
  opacity: 1;
}
@media only screen and (min-width: 1440px) {
.clients-container{
  max-width: 1150px;
}
}

/* Trusted Brands */
.brands-desc{
  padding: 67px 0px;
}
.brands-desc > h2 {
  font-size: 48px;
  color: #7DDB29;
  font-weight: bold;
}

.brand-container{
  max-width: 1100px;
}


button.brand-to-the-left.carousel-control-prev {
  /* top: -293px; */
  left: -8.5rem;
  right: auto;
  margin: auto;
  opacity: 1;
}
button.brand-to-the-right.carousel-control-next {
  /* top: -293px; */
  right: -8.5rem;
  left: auto;
  margin: auto;
  opacity: 1;
}

/* Our Team section */
.our-team-arrow{
  left: -3rem;
}
.team-desc {
  margin-top: 7rem;
}
.team-desc > h2{
  font-size: 48px;
  color: #7DDB29;
  font-weight: bold;
}
.team-desc > p{
  font-size: 20px;
  color: #6A6A8E;
  font-weight: normal;
  padding-top: 12px;
}
